loading-modal .container {
 
  z-index: -1;
  transition: z-index 0.2s step-end;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #000;
  opacity: 0.0;
 
  &.busy {
    z-index: 9999;
    display: flex;
    transition: z-index 0.2s step-start;
    position: absolute;
    width: 100%;
    height: 100%; 
    opacity: 0.3;
   
  } 
  .backdrop {
    opacity: 0.01;
    transition: opacity 0.2s;
    background-color: #000;
    width: 100%;
    height: 100%; 
  }
 
  ion-spinner {
    width: 60px;
    height: 60px;
    svg {
      stroke: #fff;
      fill: #fff;
    }
    circle{
      stroke: #fff;
      stroke-width: 6px;
    }
  }
 
}