<ion-menu id="mainMenu" [content]="content">
  <ion-content>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
    <ion-list>
      <ion-item-group *ngIf="hasLogined">
        <div block class="avatar" menuClose *ngIf="authData && authData.auth.photoURL != 'MISSING'" (click)="account($event)" ><img src="{{authData.auth.photoURL}}"></div>
        <button ion-item menuClose *ngFor="let p of loggedOutPages" (click)="openPage(p)">
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
        <button class="clearBG" ion-item menuClose (click)="logOut()">
        LogOut
      </button>
      </ion-item-group>
      <ion-item-group *ngIf="!hasLogined">
        <button ion-item menuClose block (click)="loginWithSocial(authProvider.Facebook, $event)">Connect with Facebook</button>
        <button ion-item menuClose block (click)="loginWithSocial(authProvider.Google, $event)">Connect with Google</button>
      </ion-item-group>
      <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipe-back-enabled="false"></ion-nav>