#mainMenu{
	.header{
		font-weight: bold;
		text-align:center;
	}
	.avatar{
		margin: 2vh auto;
    	max-width: 50%;
    	min-width: 50%;
		img{
    		border-radius: 50%;
			height: 152px;
			width: 152px;
		}
	}
	.clearBG .item-inner{
		background-image: none;
	}
}