div.selection {
  font-size: 22px;
  display: block;
  b{
    display: block;
    text-align: left;
    padding: 2%;
  }
  .contentView{
    width: 100%;
    position: relative;
    word-wrap: break-word;
    clear: both;
    padding: 2%;
    margin: 0;
  }
}

