.account-page {
  .avatar{
		margin: 2vh auto;
        width: 100%;
		img{
			display: block;
		    margin: 2vh auto;
    		border-radius: 50%;
			height: 152px;
			width: 152px;
            background-image: url('/img/none_avatar.png');
            background-size: cover;
		}
        b{
            text-align: center;
			display: block
        }
	}
}